BOT_TOKEN=
BOT_USERNAME=touslesgroupes_bot
DATABASE_URL=postgresql+asyncpg://postgres:PASSWORD@postgres.railway.internal:5432/railway
SUPER_ADMIN_IDS=123456789
SUPPORT_USERNAME=support
PAGE_SIZE=3
START_STATS_MIN=1000
MAX_BOT_WARNINGS=3
PENDING_CONNECT_HOURS=2
